<!DOCTYPE html>
<html>
<head>
    <title>Вход / Регистрация</title>
</head>
<body>
    <h1>{{ 'Регистрация' if register else 'Вход' }}</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Имя пользователя" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <button type="submit">Отправить</button>
    </form>

    {% if not register %}
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйся</a></p>
    {% endif %}
</body>
</html>